app = "ikann"
primary_region = "ams"

[build]

[[services]]
  internal_port = 1053
  protocol = "tcp"

  [[services.ports]]
    port = 1053

[[services]]
  internal_port = 1053
  protocol = "udp"

  [[services.ports]]
    port = 1053

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
