app = "ikann"
primary_region = "ams"

[build]

[[services]]
  internal_port = 53
  protocol = "tcp"

  [[services.ports]]
    port = 53

[[services]]
  internal_port = 53
  protocol = "udp"

  [[services.ports]]
    port = 53

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
