app = "ikann"
primary_region = "ams"

[build]

[[services]]
  internal_port = 53
  protocol = "tcp"
  processes = ["app"]
  [[services.ports]]
    port = 53

[[services]]
  internal_port = 53
  protocol = "udp"
  processes = ["app"]
  [[services.ports]]
    port = 53

[vm]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
